*.swp
.DS_Store
py_env/*.mid
py_env/bin
py_env/include
py_env/lib
py_env/pyvenv.cfg
py_env/scripts
py_env/lib64
py_env/share
py_env/src/.idea
py_env/src/__pycache__
py_env/pip-selfcheck.json
py_env/tcl
py_env/.idea